.glow {
    font-size: 30px;
    color: #d6ffdf;
    text-align: center;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #55db72;
}


#time {
    position: absolute;
    top: 10px;
    left: 150px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display: block;
}

#points {
    position: absolute;
    top: 10px;
    right: 150px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display: block;
}

#life {
    position: absolute;
    top: 50px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display: block;
}

#speed {
    position: absolute;
    top: 500px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display: block;
}

.score-text {
    font-family: 'Space Mono', monospace;
    font-size: 30px;
    color: #d6ffdf;
    text-align: center;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #55db72;
}

.score-item {
    font-family: 'Space Mono', monospace;
    font-size: 30px;
    color: #d6ffdf;
    text-align: center;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #55db72;
}

.score-list {
    font-family: 'Space Mono', monospace;
    font-size: 30px;
    color: #d6ffdf;
    list-style-type: none;
    text-align: center;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #55db72;
}

.play-again-button {
    font-family: 'Space Mono', monospace;
    font-size: 30px;
    color: #d6ffdf;
    background-color: black;
    border: none;
    padding: 20px 20px 20px 20px;
    text-align: center;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #55db72;
}

.play-again-btn {
    margin-left: 2%;
    background-image: linear-gradient(to right, #3b0aad 0%, #61c2e9 51%, #3b0aad 100%);
    background-color: #61c2e9;
    color: white;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #55db72;
    font-size: 400%;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.play-again-button:hover {
    background-color: #d418d4;
}

/* body {
    background-image: url("assets/end.jpg");
} */

.score-wrapper {
    margin-top: 200px;
    text-align: center;
}

.img-bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1024px) {

    /* Specific to this particular image */
    .img-bg {
        left: 50%;
        margin-left: -512px;
        /* 50% */
    }
}

/* Container needed to position the button. Adjust the width as needed */
.container {
    position: relative;
    width: 100%;
    height: 85%;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
    position: relative;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-image: linear-gradient(to right, #3b0aad 0%, #d418d4 51%, #3b0aad 100%);
    background-color: #d418d4;
    color: white;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #55db72;
    font-size: 400%;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.container .btn:hover {
    background-color: black;
}